
header{
	background-image:linear-gradient(to right, rgba(0,100,0,0), rgba(100,1,1,1));
    background-color: #880;
}
.tagline h2{
    color: black;
    text-align: left;
}
.nav{
    background-color: gray;
    text-align: left;
    width: 100%;
    height: fit-content;
}
.nav ul li{
    display: inline-block;
    border: 1px solid #CECECE;
    border-right: 1PX solid #fff;
    padding: 2px;
}
.nav li:hover{
    position: relative;
    padding: 1px;
    border: 2px solid white;
}
.nav li a{
    text-decoration: none;
    padding: 20px;
    font-weight: bold;
    color: black;
}
/*Section for nav bar start*/

section .floating-image{
    max-width:400px ;
}
.container h1{
    font-size: 3em;
    color: black;
}

.container .first{
    text-align: right;
}
section .floating-image.left{
    font-style: normal;
    float: left;
    margin-top: 5px;
    margin-right: 35px;
    margin-bottom: 10px;
}

section .floating-image.right{
    font-style: normal;
    float: right;
    margin-top: 5px;
    margin-left: 35px;
    margin-bottom: 10px;
}

#leftsection{
    float: left;
    width: 63%;
    margin-top: 40px;
    padding-left: 20px;
    padding-bottom: 40px;
}
/*Section for nav bar ends*/
#rightbar{
    margin-top: 40px;
    float: right;
    width: 30%;
}
#rightbar ul li a{
    color: black;
}
#rightbar ul li a:hover{
    color:red;
}
/*footer*/
footer {
    clear: both;
    margin-bottom: 0;
  }
  /*footer starts*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: gray;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .foot-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

footer .sec{
    margin-right: 30px;
}
.aboutus{
    width: 40%;
}
.aboutus h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
.aboutus h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: black;
}

.aboutus p{
    color: black;
}
.contact{
    width: calc(35% - 60%);
    margin-right: 0 !important;
}
.info{
    position: relative;
}
.info li{
    display: flex;
    margin-bottom: 16px;
}
.info li span:nth-child(1){
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}
.info li span{
    color: black;
}
.info li a{
    color: black;
    text-decoration:  none;
}
.info li a:hover{
    color: #fff;
}

.info .address{
    font-weight: 500;
    
}
.info .address:hover{
    color: #fff;
}

.seccontact h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
 }
 .seccontact h2::before{
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 50px;
        height: 2px;
        background: black;
    }
/* Footer ends*/
.copyright{
    width: 100%;
    background: #111;
    padding: 8px 100px;
    text-align: center;
    color: #fff;
}
/*footer Ends*/
